server {
    listen 443 ssl;
    server_name local-api.dyutas.com;

    ssl_certificate /etc/nginx/certs/${WEB_TLS_CERT_FILENAME};
    ssl_certificate_key /etc/nginx/certs/${WEB_TLS_KEY_FILENAME}; 

    location /auth {
        proxy_pass http://auth-app:${AUTH_APP_PORT}; # forwarding to docker network
        # proxy_pass http://host.docker.internal:${AUTH_APP_PORT}; # forwading to local host
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;  
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # location /game {
    #     proxy_pass http://game-app:${GAME_APP_PORT}; # forwarding to docker network
    #     # proxy_pass http://host.docker.internal:${GAME_APP_PORT}; # forwading to local host
    #     proxy_set_header Host $host;
    #     proxy_set_header X-Real-IP $remote_addr;  
    #     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #     proxy_set_header X-Forwarded-Proto $scheme;
    # }

    # location /ai {
    #     proxy_pass http://ai-app:${AI_APP_PORT}; # forwarding to docker network
    #     # proxy_pass http://host.docker.internal:${AI_APP_PORT}; # forwading to local host
    #     proxy_set_header Host $host;
    #     proxy_set_header X-Real-IP $remote_addr;  
    #     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #     proxy_set_header X-Forwarded-Proto $scheme;
    # }

    # location /stat {
    #     proxy_pass http://stat-app:${STAT_APP_PORT}; # forwarding to docker network
    #     # proxy_pass http://host.docker.internal:${STAT_APP_PORT}; # forwading to local host
    #     proxy_set_header Host $host;
    #     proxy_set_header X-Real-IP $remote_addr;  
    #     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #     proxy_set_header X-Forwarded-Proto $scheme;
    # }

    # location /socket {
    #     proxy_pass http://socket-app:${SOCKET_APP_PORT}; # forwarding to docker network
    #     # proxy_pass http://host.docker.internal:${SOCKET_APP_PORT}; # forwading to local host
    #     proxy_set_header Host $host;
    #     proxy_set_header X-Real-IP $remote_addr;  
    #     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #     proxy_set_header X-Forwarded-Proto $scheme;
    # }

    # Optional: serve other requests with static files or a default page
    location / {
        root /usr/share/nginx/html;            # Or return 404 / custom page
        index index.html;
    }
}